body {
  width: 60em;
  margin: 0 auto;
  padding: 1em 2em;
  font-family: 'Helvetica Neue', helvetica, arial, sans-serif;
}

h1, h2, h3 {
  font-weight: 300;
}

header {
  h1 a {
    color: #111;
    font-weight: 100;
    font-size: 1.5em;
    text-decoration: none;
    text-transform: uppercase;
  }
}

#torso {
  padding: 0 1em;
}

